# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master
- feature/*

pool:
#  vmImage: ubuntu-latest
  name: Azure Pipeline Agent
  #vmImage: "windows-latest"

stages:
- stage: BUILD
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build Job'
    steps:
    - script: |
        echo "Restoring project dependencies..."
      displayName: 'Restore dependencies'
    - script: |
        echo "Running unit tests..."
      displayName: 'Running unit tests'

    - script: 
        echo "Print path..."
      displayName: 'Source Directory'
    
    #Test Artifact
    - task: PublishPipelineArtifact@1
      displayName: 'Publish Artifact'
      #condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
      inputs: 
        #targetPath: '$(Pipeline.Workspace)'
        #targetPath: $(Build.SourcesDirectory)
        targetPath: $(System.DefaultWorkingDirectory)/bin/WebApp
        artifactName: WebApp
        #artifact: drop
        #publishLocation: pipeline
        
- stage: TEST
  displayName: 'Test Stage'
  dependsOn: BUILD
  isSkippable: false #attribute
  jobs:
  - job: TestJob
    displayName: 'Test Job'
    steps:
    - script: |
        echo "Running unit tests..."
      displayName: 'Running unit tests'

- stage: DeployToStaging
  displayName: 'Deploy To Staging'
  dependsOn: TEST
  #isSkippable: false #attribute
  jobs:
  - job: DeployStagingJob
    displayName: 'Deploy To Staging Job'
    pool:
      name: Azure Pipeline Agent
    steps:
    - script: |
        echo "Build Staging Job..."
      displayName: 'Build and Deploy To Staging'

  - job: DeployStagingJobWithValidation
    pool: server
    timeoutInMinutes: 4320 # job times out in 3 days
    displayName: 'Deploy to Staging Job'
    steps:
    - task: ManualValidation@1
      timeoutInMinutes: 1440 # task times out in 1 day
      inputs:
        #notifyUsers: 'diphokos@nra.co.za; jdiph051@gmail.com, letsebem@nra.co.za, mafaralalam@nra.co.za'
        notifyUsers: mafaralalam@nra.co.za
        instructions: 'Please validate the stage configuration and resume'
        onTimeout: 'resume'

- stage: DeployToQA
  displayName: 'Deploy to QA'
  dependsOn: DeployToStaging
  isSkippable: false #attribute
  #condition: succeeded()
  #trigger: manual
  jobs:
  - job: DeployToQAJob
    displayName: 'Deploy to QA Job'
    steps:
    - script: |
        echo "Deploying to QA..." 
  # Add your deployment commands here
      displayName: 'Run QA commands'

- stage: Rollback
  displayName: 'Rollback Stage'
  trigger: manual
  jobs:
  - job: RollbackJob
    displayName: 'Rollback Job'
    steps:
    - script: |
        echo "Rolling back the deployment..."
  # Add your rollback commands here
      displayName: 'Run rollback commands'

#variables:
 # buildConfiguration: 'Release'

#steps:
#- script: dotnet build --configuration $(buildConfiguration)
 # displayName: 'dotnet build $(buildConfiguration)'

#- task: PublishCodeCoverageResults@2
 # inputs:
  #  summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/site/jacoco/jacoco.xml" # Path to summary files
   # reportDirectory: "$(System.DefaultWorkingDirectory)/**/site/jacoco" # Path to report directory
    #failIfCoverageEmpty: true # Fail if code coverage results are missing