# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
#  vmImage: ubuntu-latest
  name: Azure Pipeline Agent
  #vmImage: "windows-latest"

stages:
- stage: BUILD
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build Job'
    steps:
    - script: |
        echo "Restoring project dependencies..."
      displayName: 'Restore dependencies'
    - script: |
        echo "Running unit tests..."
      displayName: 'Running unit tests'

- stage: TEST
  displayName: 'Test Stage'
  dependsOn: BUILD
  isSkippable: false #attribute
  jobs:
  - job: TestJob
    displayName: 'Test Job'
    steps:
    - script: |
        echo "Running unit tests..."
      displayName: 'Running unit tests'




#variables:
 # buildConfiguration: 'Release'

#steps:
#- script: dotnet build --configuration $(buildConfiguration)
 # displayName: 'dotnet build $(buildConfiguration)'

#- task: PublishCodeCoverageResults@2
 # inputs:
  #  summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/site/jacoco/jacoco.xml" # Path to summary files
   # reportDirectory: "$(System.DefaultWorkingDirectory)/**/site/jacoco" # Path to report directory
    #failIfCoverageEmpty: true # Fail if code coverage results are missing